<div class="mat-card">
  <h4 class="mat-card-header" style="text-align: center">
    Add product {{product.title}}
  </h4>
  <div style="display: flex; justify-content: space-around" >

    <div>
      <div class="mat-card-body">
        <form #form="ngForm" (ngSubmit)="save()">
          <div>
            <mat-form-field>
              <input matInput [(ngModel)]="product.title" name="title"
                     placeholder="title" required>
              <mat-error>
                Title is required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input type="number" matInput [(ngModel)]="product.price" name="price"
                     placeholder="price" required min="0">

              <mat-error>
                Price should be greater than 0
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Category</mat-label>
              <mat-select required [(ngModel)]="product.category" name="category">
                <mat-option *ngFor="let category of categories|async"
                            [value]="category.id">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput [(ngModel)]="product.imageUrl" name="imageUrl"
                     placeholder="imageUrl" required>
              <mat-error>
                Image URL is required
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button type="submit" *ngIf="form.valid && form.touched">save</button>
            <button mat-raised-button type="reset">reset</button>
            <button mat-raised-button (click)="cancel()" >cancel</button>
          </div>
        </form>
      </div>
    </div>
    <div >
      <img style="width: 30vw; height: 25vw" [src]="product.imageUrl">
    </div>
  </div>
</div>










